/* PATRONES GLOBALES DE CSS */

/* Tipografía Principal */
h1, h3, a, button { font-family: 'Istok Web', sans-serif; }
h2 { font-family: 'Inria Sans', sans-serif;}
/* Tipografía Secundaria */
h4, h5, h6, p, form, input, select, option, div, span { font-family: 'Inria Sans', sans-serif; }
/* Asignación de propiedad display: block; a etiquetas de estructura */
header, main, section, footer, aside, figure, figcaption, nav, div { display: block; }


/* CSS Propio */

body { 
margin: 0%;

background-image:}

/* Componente Botón WhatsApp flotante */
aside#boton-wp{
    width: 45px;
    height: 45px;
    margin: 0;
    float: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99998;  }

aside#boton-wp a {  
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    position: relative;
    display: block;
    background-color: #00C914;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease-in;}

aside#boton-wp a i {
    font-size: 1.5em;
    line-height: 1em;
    color: #fff;
    transition: all 0.3s ease-in; }
aside#boton-wp a:hover {
    background-color: #FF4848; transition: all 0.2s ease-in;}
aside#boton-wp a:hover i { }

/* Componente Menú Responsive */
aside#menu-moviles {  }

aside#menu-moviles a#abrir-menu {  }
aside#menu-moviles a#abrir-menu i {  }
aside#menu-moviles a#abrir-menu:hover {  }
aside#menu-moviles a#abrir-menu:hover i {  }

aside#menu-moviles a#cerrar-menu {  }
aside#menu-moviles a#cerrar-menu i {  }
aside#menu-moviles a#cerrar-menu:hover {  }
aside#menu-moviles a#cerrar-menu:hover i {  }

aside#menu-moviles nav {  }
aside#menu-moviles nav a {  }
aside#menu-moviles nav a:hover {  }



/* Componente Header con Logo y Menú */
header { width: 100%;
    height: 80px;
    margin: 0;
    float: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99990;  }

header article { 
    width: auto;
    height: 90px;
    margin: 0 auto;
    float: none;
    position: relative;}

header article figure { 
    width: 100px;
    height: 60px;
    margin: 0 100px;
    float: left;
    position: relative;
    top:4px; }   
    
header article figure a { width: 100px;  
height: auto;  margin: 0 auto;  
float: none;  
position: relative; 
display: block; }

header article figure a img { 
    width: auto;
    height: 50px;
    margin: 0 auto;
    float: none;
    position: relative;
    display: block; }

header article nav { 
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    

    width: 430px;
    height: 40px;
    margin: 0 78px; 
    float: right;
    position: relative;
    top: 20px;}

header article nav a {
width: auto; 
height: auto; 
margin: 0 23px; 
float: left; 
position: relative;
color: #000000; 
text-decoration: none; 
 
transition: all 0.3s ease-in;}

header article nav a:hover { color: #FF4848;
border-bottom: solid 2px #FF4848; 
transition: all 0.3s ease-in;}




/* Caja Main */
main {width: 100%;
    height: auto;
    margin: 150px auto 0;
    float: none;
    position: relative;  }


/* Componente Presentación */
main section#empresa {width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;  }
main section#empresa article {width: 1298px;
    height: 520px;
    margin: 0 auto;
    float: none;
    position: relative; }
main section#empresa article figure { width: 700px;
    height: 400px;
    margin: 0 auto 0 0;
    float: right;
    position: relative; }
main section#empresa article figure img { width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    display: block; 
bottom: 130px;
}

main section#empresa article div#info-empresa { width: 510px;
    height: 480px;
    margin: 0;
    float: right;
    position: relative; }

main section#empresa article div#info-empresa h2 { text-decoration: none;
    font-size: 6em;
    line-height: 1em;
    text-align: left;
    padding: auto 0 20px;
    letter-spacing: -0.02em; 

    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    
    color: #FF4848;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;

}

main section#empresa article div#info-empresa h1 {text-decoration: none;
    
    font-weight: 300;
    font-size: 3.8em;
    line-height: 1em;
    text-align: left;
    padding: 0 0 30px;
    letter-spacing: -0.02em;  
    margin: 0;


    font-family: 'Inria Sans';
    font-style: normal;
    color: #000000;
}

main section#empresa article div#info-empresa p { color: #333; 
font-weight: 400;
font-size: 1.05em; 
line-height: 1.45em; 
text-align: left; 
padding: 0 30px 50px 0; 
letter-spacing: 0.015em; 
margin: 0 auto; 
font-family: 'Inria Sans';
font-style: normal;}

main section#empresa article div#info-empresa a { 
width: 120px; 
height: auto; 
margin: 0; 
float: none; 
position: relative; 
display: block; 
text-decoration: none; 
color: #fff; 
background: #FF4848;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-weight: 600; 
font-size: 1em; 
line-height: 1em; 
text-align: center; 
padding: 18px 18px; 
border-radius: 18px; 
transition: all 0.3s ease-in; }

main section#empresa article div#info-empresa a:hover { 
padding: 17px 17px; 
color: #FF4848; 
background: #6B1B2E; 
transition: all 0.3s ease-in; }